@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #075b8a;
    --secondary-color: #fff; 
}


body {
    background: url(../img/main-bg.svg);
    background-size: cover;
    background-position: center center;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    line-height: 2em;
}

.main-content {
  text-align: center;
  max-width: 940px;
  margin: 50px auto;
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input {
    width: 260px;
    height: 23px;
    box-shadow: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%), inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 4.42px;
    font-family: 'Teko';
    font-size: 20px;
}

.btn-add {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 41px;
    position: relative;
    left: 20px;
    top: 8px;
    cursor: pointer;
}

.clock {
    text-transform: capitalize;
}

.apagar {
    font-size: 30px;
    color: rgb(224 20 20);
    cursor: pointer;
    padding: 3px 9px 3px 9px;
   
}

.tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: square;
}
